<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>
        {% block title %}
            Flatmates Bill
        {% endblock %}
    </title>
    
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            <li><a href="{{ url_for('bill_form_page') }}">Bill Form</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}
            
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        &copy; E>, 2024
    </footer>
</body>
</html>



