{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Bill Form
{% endblock %}

{% block content %}   

    <h2>The Bill Form</h2>

    <p>Fill in the form and click the button to get the results</p>

    <form action="{{ url_for('bill_form_view') }}" method="post">

        {{ billform.hidden_tag() }}  <!-- This includes the CSRF token -->

        <div>
            {{ billform.amount.label }} {{ billform.amount(size=20) }}
        </div>
        <div>
            {{ billform.period.label }} {{ billform.period(size=20) }}
        </div>
        <br><hr><br>        
        <div>
            {{ billform.name1.label }} {{ billform.name1(size=20) }}
        </div>
        <div>
            {{ billform.days_in_house1.label }} {{ billform.days_in_house1(size=20) }}
        </div>
        <br><hr><br>
        <div>
            {{ billform.name2.label }} {{ billform.name2(size=20) }}
        </div>
        <div>
            {{ billform.days_in_house2.label }} {{ billform.days_in_house2(size=20) }}
        </div>
        <br>
        <div>
            {{ billform.submit() }}
        </div>

    </form>

    <!-- when result in Same page -->
    <!-- { % if result % } 
        <br><br><hr><br>
        <div class="content">
            <h2 class="title">
                <img src="{ { url_for('static', filename='images/house.png') } }" alt="House Logo" class="logo">
                Flatmates Bill
            </h2>
            
            <br>
            <p><strong>Period:&nbsp;&nbsp;</strong>{ { bill.period } }</p>
            <p><strong>Total Amount:&nbsp;&nbsp;</strong>${ { bill.amount } }</p>
            <br>
            <p>- { { name1 } }:&nbsp;&nbsp;${ { amount1 } }</p>
            <p>- { { name2 } }:&nbsp;&nbsp;${ { amount2 } }</p>
        </div>
    { % endif % } -->

{% endblock %}
