{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Home
{% endblock %}

{% block content %}

    <h1 class="title">
        <img src="{{ url_for('static', filename='images/house.png') }}" alt="House Logo" class="logo">
        Flatmates Bill
    </h1>
    <br>
    <p>Flatmates Bill application is designed to fairly split the utility bill among flatmates based on the number of days they stayed in the house during the billing period.</p>
    <br>
    <a href="{{ url_for('bill_form_view') }}">Split a Bill</a>
        
{% endblock %}